spring.datasource.url=jdbc:postgresql://<host>/<database>?sslmode=require
spring.datasource.username=<usuario>
spring.datasource.password=<senha>

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
